body{
    background-color: #0056D2;
}
.container
 {
    font-family: "Open Sans", sans-serif;
    color: aliceblue;  
    margin: 10rem;
  }
img{
    border-radius: 9px;
}

h1{
    text-transform: capitalize;
    font-size: 52px;
}
button{
    border: none;
    color: #0056D2;
    padding: 8px 15px;
    border-radius: 4px;
    margin-top: 30px;
}
p{
    margin-top: 30px;
}
.a{
    width: 49%;
    display: inline-block;   
}
.b{
    width: 50%;
    display: inline-block;
}
